@import "functions";
@import "variables";
@import "../bootstrap-4/scss/bootstrap-grid";
@import "../bootstrap-4/scss/utilities/_spacing";
@mixin trans{
	-webkit-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}
/* fonts*/
@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Italic.woff2') format('woff2'),
        url('../fonts/Kanit-Italic.woff') format('woff'),
        url('../fonts/Kanit-Italic.ttf') format('truetype'),
        url('../fonts/Kanit-Italic.svg#Kanit-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Bold.woff2') format('woff2'),
        url('../fonts/Kanit-Bold.woff') format('woff'),
        url('../fonts/Kanit-Bold.ttf') format('truetype'),
        url('../fonts/Kanit-Bold.svg#Kanit-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Regular.woff2') format('woff2'),
        url('../fonts/Kanit-Regular.woff') format('woff'),
        url('../fonts/Kanit-Regular.ttf') format('truetype'),
        url('../fonts/Kanit-Regular.svg#Kanit-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Medium.woff2') format('woff2'),
        url('../fonts/Kanit-Medium.woff') format('woff'),
        url('../fonts/Kanit-Medium.ttf') format('truetype'),
        url('../fonts/Kanit-Medium.svg#Kanit-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}


html{
	overflow: hidden;
	font-size: 16px;
}
body{	
	color: $gray-600;
	font-family: 'Kanit', sans-serif;
	font-weight: normal;
    font-style: normal;
}
*{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box; 
}
img{
	border: none;
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}
p {margin-bottom: 1em;}

h1, h2, h3, h4 {
	padding: 0.5em 0 0.5em;
	font-weight: inherit;
	line-height: 1.2;
}
h1 {font-size: 3em;}
h2 {font-size: 2.5em;}
h3 {font-size: 2em;}
h4 {font-size: 1.5em;}
ul{
	list-style-type: none;
	list-style-position: inside;
}
a{
	-webkit-transition: color .2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	-o-transition: color .2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	transition: color .2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	text-decoration: none;
	&:link{
		color: $light_purple;
	}
	&:visited{
		color: $gray-500;
	}
	&:hover{
		color: $pale_orange;
	}
}
*::-moz-selection{
	background-color: lighten($light_purple, 12);
	color: $white;
} 
*::selection{
	background-color: lighten($light_purple, 12);
	color: $white;
}
.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.name {
  font-size: 32px;
  color: red;
}
========================================== */

.play-circle {
	width: 0.857421875em;
}

[class*="col-"] {
	padding-left: 20px;
	padding-right: 20px;
}
.container{
	padding-left: 20px;
	padding-right: 20px;
}
.row {
	margin-right: -20px;
    margin-left: -20px;
}
/* scroll bar styles start*/
.scrollbar-track-y, .scrollbar-track-x{
	width: 16px !important;
	background: rgba(#a8eb12, .61)!important;
}
.nav{
	padding: 10px 0;
	display: none;
	a{
		font-size: 1.5rem;
		-webkit-transition: color .2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
		-o-transition: color .2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
		transition: color .2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
		font-weight: 500;
		text-decoration: none;
		padding: 0.5rem 1rem;
		&:link{
			color: $white;
		}
		&:visited{
			color: $white;
		}
		&:hover{
			color: $pale_orange;
		}
	}
}
.scrollbar-thumb{
	left: 2px !important;
	height: 12px;
	width: 12px !important;
	background: rgba($dirty_purple, .75) !important;
    border-radius: 0px !important;
    -webkit-transition: background .2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -o-transition: background .2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
    transition: background .2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
    &:hover{
    	background: rgba($dirty_purple, .9) !important;
    }
}
/* scroll bar styles end*/


/* mobile menu start*/
/* .mobile_menu_wrapper{*/

/* }*/
.mobile_menu_cnt.hidden{
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}
.mobile_menu_toggle{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
#mobile_menu_btn {
	margin-top: 10px;
	height: 30px;
	width: 80px;
	cursor: pointer;
	display: block;
	z-index: 200;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	&:hover span:nth-of-type(1), &:active span:nth-of-type(1), &:focus span:nth-of-type(1){
        -webkit-transform: translateX(-10%);
        -ms-transform: translateX(-10%);
        transform: translateX(-10%);
	}
	&:hover span:nth-of-type(2), &:active span:nth-of-type(2), &:focus span:nth-of-type(2){
        -webkit-transform: translateX(10%);
        -ms-transform: translateX(10%);
        transform: translateX(10%);
	}
	&:focus{
		outline: 0;
		border:none;
		color: rgba(0, 0, 0, 0);
	}
}
.mobile_menu_toggle__button span {
	background-color: #ecf0f1;
	width: 80px;
	height: 10px;
	margin: 5px 0;
	border-radius: 2px;
	position: absolute;
	-webkit-transition: .3s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	-o-transition: .3s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	transition: .3s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	z-index: 1;
}

#mobile_menu_btn span:nth-of-type(1) {
	margin-top: 0;
}
#mobile_menu_btn span:nth-of-type(2){
	margin-top: 20px;
}
.mobile_menu_cnt{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    height: 100vh;
	background-color: rgba($black, .58);
	z-index: 400;
	opacity: 1;
	pointer-events: auto;
	visibility: visible;
	-webkit-transition: opacity 0.4s cubic-bezier(0.445, 0.050, 0.550, 0.950), visible 0.4s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	-o-transition: opacity 0.4s cubic-bezier(0.445, 0.050, 0.550, 0.950), visible 0.4s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	transition: opacity 0.4s cubic-bezier(0.445, 0.050, 0.550, 0.950), visible 0.4s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	&__inner{
		height: 100%;
		width: 384px;
		background-color: $light_purple;
		-webkit-transition: all 0.6s cubic-bezier(0.445, 0.050, 0.550, 0.950);
		-o-transition: all 0.6s cubic-bezier(0.445, 0.050, 0.550, 0.950);
		-webkit-transition: all 0.6s cubic-bezier(0.445, 0.050, 0.550, 0.950);
		transition: all 0.6s cubic-bezier(0.445, 0.050, 0.550, 0.950);
		position: relative;
		overflow: auto;
		&:after{
			@media (min-height: 799px) {
				content: 'www.potatosites.com';
				position: absolute;
				bottom: 0;
				display: block;
				text-align: center;
				color: $white;
				font-size: 2rem;
				width: 100%;
				padding-bottom: 2rem;
				opacity: 0.5;
				font-weight: 500;
			}
		}
		.menu_content{
			position: relative;
			height: auto;
			padding-top: 200px;
			background: $mid_purple;
			padding-bottom: 4rem;
			&:after{
				content:'';
				position: absolute;
				bottom: -9px;
				left: 0;
				right: 0;
				height: 9px;
				background: url(../inc/images/menu-bg.png) bottom repeat-x;
			}
		}
		.mobile_menu_list_cnt{
			padding-top: 80px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
			&__mobile_list{
				font-weight: 500;
				font-size: 2rem;
				padding-top: 2rem;
				a{
					&:link{
						color: $white;
					}
					&:visited{
						color: $white;
					}
					&:hover{
						color: $pale_orange;
					}
				}
			}
		}
		.close_menu_cnt{
			position: absolute;
			top: 200px;
			right: 50%;
			-webkit-transform: translateX(50%);
			-ms-transform: translateX(50%);
			transform: translateX(50%);
		}
		.menu_logo{
			color: $white;
			font-size: 2rem;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
	&__inner.column_hidden{
        -webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}

}
/* mobile menu end*/
.text-center{
	text-align: center;
}
.site_wrap{
	background: -webkit-linear-gradient(183deg,#7934f7,#755bf9 50%,#7282fb);
	background: -o-linear-gradient(183deg,#7934f7,#755bf9 50%,#7282fb);
	background: linear-gradient(267deg,#7934f7,#755bf9 50%,#7282fb);
	height: 100vh;
	&__inner{
		background-color: white;
		position: relative;
		overflow: hidden;
	}
}
.top{
	background: -webkit-linear-gradient(183deg,#7934f7,#755bf9 50%,#7282fb);
	background: -o-linear-gradient(183deg,#7934f7,#755bf9 50%,#7282fb);
	background: linear-gradient(267deg,#7934f7,#755bf9 50%,#7282fb);
	position: relative;
	h1{
		padding-top: 60px;
	}
}
.gradient{
	position: absolute;
    bottom: -6px;
    left: 0;
	height: 12px;
	width: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0, .0)), color-stop(25%, rgba(0,0,0, .0)), color-stop(50%, $light_purple), color-stop(75%, rgba(0,0,0, .0)), to(rgba(0,0,0, .0)));
	background: -webkit-linear-gradient(top, rgba(0,0,0, .0) 0%, rgba(0,0,0, .0) 25%, $light_purple 50%, rgba(0,0,0, .0) 75%, rgba(0,0,0, .0) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0, .0) 0%, rgba(0,0,0, .0) 25%, $light_purple 50%, rgba(0,0,0, .0) 75%, rgba(0,0,0, .0) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0, .0) 0%, rgba(0,0,0, .0) 25%, $light_purple 50%, rgba(0,0,0, .0) 75%, rgba(0,0,0, .0) 100%);
	&--bottom{
		background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0, .0)), color-stop(25%, rgba(0,0,0, .0)), color-stop(50%, $mid_purple), color-stop(75%, rgba(0,0,0, .0)), to(rgba(0,0,0, .0)));
		background: -webkit-linear-gradient(top, rgba(0,0,0, .0) 0%, rgba(0,0,0, .0) 25%, $mid_purple 50%, rgba(0,0,0, .0) 75%, rgba(0,0,0, .0) 100%);
		background: -o-linear-gradient(top, rgba(0,0,0, .0) 0%, rgba(0,0,0, .0) 25%, $mid_purple 50%, rgba(0,0,0, .0) 75%, rgba(0,0,0, .0) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0, .0) 0%, rgba(0,0,0, .0) 25%, $mid_purple 50%, rgba(0,0,0, .0) 75%, rgba(0,0,0, .0) 100%);
	}
}
.site_header{
	padding-top: 10px;
	>a>img{
		max-height: 80px;
		width: auto;
	}
}
.main_site_header{
	font-weight: bold;
	>a{
		&:link{
		color: $white;
		}
		&:visited{
			color: $white;
		}
		&:hover{
			color: $pale_orange;
		}
	}
}
.main{ 
	.load_more_cnt{
		padding-top: 60px;
		height: 160px;
		margin-bottom: 60px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-ms-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		.rocbot, .mounttop{
			font-weight: bold;
			opacity: 0;
			-webkit-transition: opacity 0.3s cubic-bezier(0.445, 0.050, 0.550, 0.950);
			-o-transition: opacity 0.3s cubic-bezier(0.445, 0.050, 0.550, 0.950);
			transition: opacity 0.3s cubic-bezier(0.445, 0.050, 0.550, 0.950);
			display: inline-block;
			text-transform: uppercase;
			padding-bottom: 10px;
		}
		.rocbot.reveal, .mounttop.reveal{
			opacity: 1;
		}
	}
}
.sorting_lable{
	text-transform: uppercase;
}

/* single post styles start*/
.post-navigation{
	.nav-links{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		.icon{
			font-size: 24px;
			vertical-align: middle;
		}
	}
}
	

.single_post_main, .main{
	min-height: calc(100vh - (225px + 210px));
}
/* quote start*/
.quote_single{
	position: relative;
	padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
/* quote start*/
/* link start*/
.single_link{
	&__link{
		font-size: 2rem;
	}
}
/* link end*/
/* single post styles end*/

/* index post animation start*/

.post_item, .single_post, .single_page_to_animate, .search_animate{
	-webkit-transition: all 0.6s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	-o-transition: all 0.6s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	transition: all 0.6s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	opacity: 0;
	-webkit-transform: translate3d(0, 110px,0);
	transform: translate3d(0, 110px,0);
}
.post_item.added, .single_post.added, .single_page_to_animate.revealed, .search_animate.revealed{
	-webkit-transform: translate3d(0, 0 ,0);
	transform: translate3d(0, 0 ,0);
	opacity: 1;
}

/* index post animation end*/

/* post loader start*/

.loading{
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 40px;
    width: 50px;
    z-index: 1;
    &--bottom{
    	bottom: 110px;
    }
    &--top{
    	top: 180px;
    }
}
.simple-spinner:before {
    content: "";
    border-radius: 50%;
    border-top: 2px solid #999;
    border-right: 2px solid transparent;
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
}
.simple-spinner:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-top: -10px;
    margin-left: -10px;
}

/* post loader end*/

/* index styles start*/
.index_post{
	padding-top: 3rem;
	padding-bottom: 2.5rem;
	&__heading{
		text-align: center;
	    font-weight: 500;
	}
	&__info{
		.com_inf{
			vertical-align: middle;
			font-size: 24px;
			&--num{
				vertical-align: baseline;
			}
		}
	}
}
/*link post  start*/
.index_link{
	text-align: center;
	&__icon{
		border-radius: 50%;
		width: 90px;
		height: 90px;
		.icon{
			width: 90px;
		    height: 90px;
		}
	}
}
/*link post  end*/

/*quotes post*/
.quotes_post{
	span{
		-webkit-transition: color 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
		-o-transition: color 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
		transition: color 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	}
	&:hover .quotes_post{
		color: $light_purple;
	}

	&--quote_left{
		position: absolute;
		left: 0;
		top: 0;
		font-size: 2.5rem;
		height: 40px;
		width: 40px;
	}
	&--quote_right{
		position: absolute;
		right: 0;
		bottom: 0;
		font-size: 2.5rem;
		height: 40px;
		width: 40px;
	}
	&__content{
		text-align: center;
	}
	&__inner{
		position: relative;
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
	}
}
.home{
	.quotes_post{
		a{
			&:link{
				color: $gray-500;
			}
			&:visited{
				color: $gray-500;
			}
			&:hover{
				color: $pale_orange;
			}
		}
	}
}
/* quote end*/
/* index styles start*/

/* load more posts button start*/
#load_posts, #load_previous, .btn{
	font-family: 'Kanit';
	font-weight: 500;
	-webkit-transition: color 0.3s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.1s;
	-o-transition: color 0.3s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.1s;
	transition: color 0.3s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.1s;
	border: 0;
    background-color: transparent; 
    color: $light_purple;
    cursor: pointer;
    font-size: 2rem;
	padding: 0.5rem 1rem;
	text-transform: uppercase;
	border-radius: 2px;
	border: 4px solid $light_purple;
	line-height: 120%;
	position: relative;
	overflow: hidden;
	z-index: 10;
	vertical-align: middle;
	&:after {
	 	position: absolute;
	    -webkit-transition: width 0.4s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	    -o-transition: width 0.4s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	    transition: width 0.4s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	    content: '';
	    width: 0;
	    left: 50%;
	    bottom: 0;
	    height: 3px;
	    background: -webkit-linear-gradient(183deg,#7934f7,#755bf9 50%,#7282fb);
	    background: -o-linear-gradient(183deg,#7934f7,#755bf9 50%,#7282fb);
	    background: linear-gradient(267deg,#7934f7,#755bf9 50%,#7282fb);
	    height: 120%;
	    left: -10%;
	    top: -10%;
	    -webkit-transform: skewX(15deg);
	    -ms-transform: skewX(15deg);
	    transform: skewX(15deg);
	    z-index: -1;
	  }
	&:focus{
		outline: 0;
	}
	&:active,
	&:hover{
		color: $white;
		&:after {
			width: 120%;
	    }
	}
	&:disabled{
		opacity: 0.5;
		color: lighten($light_purple, 15);
		border: 4px solid lighten($light_purple, 15);
		cursor: not-allowed;
		&:hover:after{
			width: 0;
		}
	}
}
/* load more posts button end*/

/* responsive video cnt start*/

.video_content{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    background-color: #e5e5e5;
    margin: 1em 0;
}
.video_content iframe, .video_content object, .video_content embed, .video_content video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* responsive video cnt end*/

/* index thumnails start*/
.thumbnail_cnt, .video_thumbnail_cnt{
	&__link{
		display: block;
		position: relative;
		height: 0;
		padding-bottom: 56.25%;
		overflow: hidden;
		background-color: lighten($light_purple, 12);
		&:link{
			color: rgba($white, .65);
		}
		&:visited{
			color: $white;
		}
		&:hover{
			color: $pale_orange;
		}
	}
	.video_play_btn{
		position: absolute;
		left:50%;
		top: 50%;
		z-index: 10;
		padding: 10px 20px;
		background-color: rgba(black, .5);
		border-radius: 2px;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		font-size: 1.5rem;
		i{
			height: 1em;
			width: 1em; 
			svg{
				vertical-align: sub;
			}
		}
	}
}
.thumbnail, .video_thumbnail{
	position: absolute;
}
/* index thumnails end*/

/* contact form styles start*/
.form_group{
	margin-bottom: 1.5rem;
}
#one_column_cf{
	width: 100%;
	max-width: 700px;
}
.form_field{
	font-family: 'Kanit';
	width: 100%;
	max-width: 700px;
	color: $gray-600;
	border: 2px solid $gray-500;
	padding: 0.8rem 1rem;
	border-radius: 2px;
	-webkit-transition: all 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	-o-transition: all 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	transition: all 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	&:focus{
		outline: none;
	}
}
#oc_name, #oc_email, #oc_message{
	&:focus{
		border: 2px solid $light_purple;
	}
}

.has_error{
	border: 2px solid lighten($pale_orange, 10);
}
.form_control_msg, .form_control_msg{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	-o-transition: all 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	transition: all 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	display: inline-block;
	-webkit-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: center bottom;
	-ms-transform-origin: center bottom;
	transform-origin: center bottom;
}
.text_danger, .js_form_submission, .js_form_success, .js_form_error{
	opacity: 1;
	visibility: visible;
	-webkit-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
}

/* contact form styles end*/

/* close button start*/
.cross {
	height: 80px;
	width: 80px;
	position: relative;
	margin: auto;
	padding-top: 16px;
	border: 4px solid transparent;
	border-radius: 100%;
	-o-transition: 0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	cursor: pointer;
	z-index: 800;
}
.bar {
	height: 5px;
	width: 70px;
	display: block;
	margin: 10px auto;
	position: relative;
	background-color: $light_purple;
	border-radius: 10px;
	-o-transition: 0.4s;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	z-index: 1;
}
.cross {
	border-color: $light_purple;
	border-radius: 100%;
	-webkit-tap-highlight-color: transparent;
}
.cross:hover .bar, .cross.active .bar {
	top: 7px;
}
.cross:hover .bar:nth-of-type(2), .cross.active .bar:nth-of-type(2){
	-ms-transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg);
	-webkit-transform-origin: 75% 105% 0;
	-ms-transform-origin: 75% 105% 0;
	transform-origin: 75% 105% 0;
	left: -2px;
	top: 6px;
}
.bar {
	height: 28px;
	width: 28px;
	background: none;
	border-bottom: 8px solid $light_purple;
	border-right: 8px solid $light_purple;
	position: absolute;
	border-radius: 0;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	margin: auto;
	top: 16px;
	right: 0;
	left: 0;
}
.cross--close{
	border-color: $white;
	.bar{
		border-bottom: 8px solid $white;
		border-right: 8px solid $white;
		-webkit-transition-delay: 0.4s;
		-o-transition-delay: 0.4s;
		transition-delay: 0.4s;
	}
	&:hover{
		border-color: $pale_orange;
	}
}
/* close button end*/

/* search page start*/
.search_block{
	-webkit-transition: all 0.5s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	-o-transition: all 0.5s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	transition: all 0.5s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	&__close_search_cnt{
		position: absolute;
		top: 20px;
		right: 20px;
	}
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba($black, .98);
	z-index: 900;
}
.hidden_search{
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
.search_results_page{
	&__form{
		margin-bottom: 2rem;
		margin-top: 3rem;
	}
}
.search_field{
	color: $gray-600;
	border: 4px solid $gray-500;
	padding: 0.5rem 1rem;
	border-radius: 2px;
	font-family: 'Kanit';
	font-weight: 500;
	-webkit-transition: all 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	-o-transition: all 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	transition: all 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	vertical-align: middle;
	line-height: 120%;
	font-size: 2rem;
	max-width: 100%;
	&:focus{
		outline: none;
		border: 4px solid $light_purple;
	}
}
.search_header{
	font-weight: 500;
}
/* search page end*/

/* comments start*/

.comments-area{
	img{
		width: auto;
		height: auto
	}
	padding-top: 2rem;
	.comments-pagination{
		h2{
			font-size: 1.25rem;
			font-weight: bold;
		}
	}
}
.comment-list{
	margin-left: 115px;
}
.comments-title {
    font-size: 1.25rem;
    padding-bottom: 2rem;
}
.children .comment-author .avatar {
    height: 50px;
    left: -60px;
    width: 50px;
}
.comment-body{
	margin-bottom: 1.5rem;
}
.comment-author{
	position: relative;
	padding-bottom: 0.25rem;
	.fn{
		font-weight: bold;
		font-style: normal;
		font-size: 18px;
	}
	.avatar {
	    left: -115px;
	    position: absolute;
	}
	.says {
	    display: none;
	}
}
.comment-meta{
	font-size: 12px;
	padding-bottom: 0.25rem;
	letter-spacing: 2px;
	font-weight: 800;
}
.comments_icon{
	.icon{
		vertical-align: middle;
		font-size: 24px;
	}
}
/* commnets reply form start*/
.comment-respond{
	.comment-reply-title{
		font-size: 1.25rem; 
	}
	input[type=submit]{
		font-family: 'Kanit';
		font-weight: 500;
		-webkit-transition: all 0.3s cubic-bezier(0.445, 0.050, 0.550, 0.950);
		-o-transition: all 0.3s cubic-bezier(0.445, 0.050, 0.550, 0.950);
		transition: all 0.3s cubic-bezier(0.445, 0.050, 0.550, 0.950);
		border: 0;
	    background-color: transparent; 
	    color: $light_purple;
	    cursor: pointer;
	    font-size: 1.5rem;
		padding: 0.5rem 1rem;
		text-transform: uppercase;
		border-radius: 2px;
		border: 4px solid $light_purple;
		position: relative;
		overflow: hidden;
		vertical-align: middle;
		z-index: 10;
		&:focus{
			outline: 0;
		}
		&:active,
		&:hover{
			color: $white;
			background-color: $light_purple;
		}

	}
	input[type=text], textarea{
		color: $gray-600;
		border: 2px solid $gray-500;
		padding: 0.8rem 1rem;
		border-radius: 2px;
		-webkit-transition: all 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
		-o-transition: all 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
		transition: all 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
		&:focus{
			outline: none;
			border: 2px solid $light_purple;
		}
	}
	textarea{
		max-width: 100%;
	}
	label {
	    display: block;
	    padding-bottom: 0.25rem;
	}
}

/* commnets reply form end*/

/* comments end */

/* single page/post content styling start*/

.main_post p:after {
    content: "";
    clear: both;
    display: table;
}
.wp-caption {
    background-color: $gray-900;
    padding: 1em 1em 0 1em;
    margin-bottom: 1em;
	.wp-caption-text{
		text-align: center;
		padding: 0;
		margin: 0;
	}
}
.wp-caption.alignnone, .wp-caption.aligncenter{
	max-width: 100%;
}
.wp-caption.alignleft {
    float: left;
    width: auto !important;
    margin-right: 10px;
	img{
		width: auto;
	}
}
.wp-caption.alignright {
    float: right;
    width: auto !important;
    margin-left: 10px;
	img{
		width: auto;
	}
}
p{
	.alignright{
		float: right;
		width: auto;
		margin: 0 0 10px 10px;
	}
	.alignleft{
		float: left;
		width: auto;
		margin: 0 10px 10px 0;
	}
}
blockquote{
	p{
		padding: 0;
	}
	font-style: italic;
	border-left: solid 2px $pale_orange;
	margin-left: 1.5rem;
	margin-bottom: 1em;
	padding: 0 0 0 0.5em;
}
p .alignright .aligncenter,
div.aligncenter, p .aligncenter{
    display: block;
    margin: 1em auto 1em auto;
    width: auto;
}
.page_404{
	min-height: calc(100vh - (225px + 210px));
}
.single_post{
	.quote_single{
		padding: 2.5rem 3rem;
	}
}
/* singel post pagination start*/
.nav-previous{
	>a{
		display: block;
		margin-right: 0.5rem;
	}
}
.nav-next{
	>a{
		display: block;
		margin-left: 0.5rem;
	}
}
/* singel post pagination end*/
/* single page/post content styling end*/

.padding_t{
	padding-top: 60px;
}
.go_top{
	position: fixed;
	bottom: 10px;
	right: 26px;
	height: 3rem;
	width: 3rem;
}
.go_top__icon{
	display: inline-block;
	cursor: pointer;
	color: $light_purple;
	opacity: 0.8;
	pointer-events: auto;
	visibility: visible;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.4s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	-o-transition: all 0.4s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	transition: all 0.4s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	height: inherit;
	width: inherit;
	-webkit-tap-highlight-color: transparent;
	.icon{
		font-size: 3rem;
	}
	&:hover{
		opacity: 1;
	}
}
.hidden_g{
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	-webkit-transform: translate3d(0, 60px, 0);
	transform: translate3d(0, 60px, 0);
}
.footer{
	padding-bottom: 70px;
	padding-top: 20px;
	overflow: hidden;
	color: $gray-300;
	.footer_copy_icon{
		.icon{
			vertical-align: bottom;
			font-size: 24px;
		}
	}
	.footer_content{
		&__footer_menu{
			margin: 1rem 0;
		}
		&__footer_widget{
			margin: 1rem 0;
		}
	}
}

/* k-frame animations start*/
@-webkit-keyframes spinner {
	from { -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes spinner {
	from { -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
/* k-frame animations end*/


@include media-breakpoint-down(md) {
	.top{
		height: 140px;
		h1{
			padding-top: 30px;
		}
	}
	.single_post_main, .main, .page_404{
		min-height: calc(100vh - (140px + 240px));
	}
	.main_site_header{
		font-size: 2rem;
	}
	.index_post{
		&__heading{
			font-size: 2rem;
		}
	}

}
@include media-breakpoint-up(md){
	.comment-list .children{
		padding-left: 60px;
	}
	.thumbnail_cnt, .video_thumbnail_cnt{
		.video_play_btn{
			padding: 20px 40px;
			font-size: 2rem;
		}
	}
}

@include media-breakpoint-up(lg) {
	#mobile_menu_btn{
		display: none;
	}
	.mobile_menu_cnt{
		display: none;
	}
	.site_header{
		>a>img{
			max-height: 160px;
		}
	}
	.go_top{
		bottom: 20px;
		right: 36px;
		height: 5rem;
		width: 5rem;
		&__icon{
			z-index: 100;
			height: inherit;
			width: inherit;
			.icon{
				font-size: 5rem;
				z-index: 1;
			}
		}
	}
}

@media (min-width: 1600px) {
	.go_top{
		bottom: 20px;
		right: 36px;
		height: 7rem;
		width: 7rem;
		&__icon{
			z-index: 100;
			.icon{
				font-size: 7rem;
				z-index: 1;
			}
		}
	}

}